<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do lists</title>
  </head>
  <body>
    <h1>Your To-Do list</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <input
        type="text"
        name="item_text"
        id="id_new_item"
        placeholder="Enter a to-do item"
      />
    </form>
    <table id="id_list_table">
      <tr>
        <td>1: {{ new_item_text }}</td>
      </tr>
    </table>
  </body>
</html>
